<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/ecoloja.css">
  <link rel="stylesheet" href="css/style.css">
  
</head>


<%- include("../partials/header") %>
<body>
  



<section class="produtos-grid" role="list" aria-label="Produtos para economia de energia">
        <article class="produto-card" role="listitem">
          <figure>
            <img src="imagens/estacaoavancada.png"visually-hidden">Lâmpada LED</figcaption>
          </figure>
          <h3>Estação De Energia Portátil 300w 110v</h3>
          <p class="produto-preco">R$
2.159</p>
          <a class="btn-comprar" href="/produto/lampada-led" role="button">Comprar</a>
        </article>

        <article class="produto-card" role="listitem">
          <figure>
            <img src="imagens/estaçaoavançada.png" alt="Carregador USB solar" class="produto-img">
            <figcaption class="visually-hidden">Carregador USB solar</figcaption>
          </figure>
          <h3>Bluetti EB3A Estação de Energia Portátil + Painel Solar SP120L</h3>
          <p class="produto-preco"> R$
3.159</p>
          <a class="btn-comprar" href="/produto/carregador-usb" role="button">Comprar</a>
        </article>

        <article class="produto-card" role="listitem">
          <figure>
            <img src="imagens/eolica.png" alt="Luminária Solar" class="produto-img">
            <figcaption class="visually-hidden">Luminária Solar</figcaption>
          </figure>
          <h3>Estação de Energia Eólica Portátil</h3>
          <p class="produto-preco">R$ 4.589</p>
          <a class="btn-comprar" href="/produto/luminaria-solar" role="button">Comprar</a>
        </article>

        <article class="produto-card" role="listitem">
          <figure>
            <img src="imagens/painelzao.png" alt="Mini Painel Solar" class="produto-img">
            <figcaption class="visually-hidden">Mini Painel Solar</figcaption>
          </figure>
          <h3>Kit Gerador Energia Solar 2,48kWp </h3>
          <p class="produto-preco">R$ 3.579,00</p>
          <a class="btn-comprar" href="/produto/painel-solar" role="button">Comprar</a>
        </article>
      </section>

      <section aria-labelledby="Autonomia">
       

        <!-- Grid: Autonomia -->
        <section class="produtos-grid" role="list" aria-label="Produtos para autonomia">
          <article class="produto-card" role="listitem">
            <figure>
              <img src="imagens/geradorzao.png" alt="Powerbank Solar" class="produto-img">
              <figcaption class="visually-hidden">Powerbank Solar</figcaption>
            </figure>
            <h3>Estação De Energia Portátil Gerador Solar 600 1200w</h3>
            <p class="produto-preco">R$ 4.999</p>
            <a class="btn-comprar" href="/produto/powerbank-solar" role="button">Comprar</a>
          </article>

          <article class="produto-card" role="listitem">
            <figure>
              <img src="imagens/dobravelavançado.png" alt="Ventilador Solar" class="produto-img">
              <figcaption class="visually-hidden">Ventilador Solar</figcaption>
            </figure>
            <h3>Gerador Portátil Ecoflow River 3 + Placa Solar 60w</h3>
            <p class="produto-preco">R$ 2.754,05</p>
            <a class="btn-comprar" href="/produto/ventilador-solar" role="button">Comprar</a>
          </article>

          <article class="produto-card" role="listitem">
            <figure>
              <img src="imagens/estação.png" alt="Bateria Portátil" class="produto-img">
              <figcaption class="visually-hidden">Estação de energia solar</figcaption>
            </figure>
            <h3>Estação de energia solar</h3>
            <p class="produto-preco">R$ 3499,90</p>
            <a class="btn-comprar" href="/produto/bateria-portatil" role="button">Comprar</a>
          </article>

          <article class="produto-card" role="listitem">
            <figure>
              <img src="imagens/placamil.png" alt="Inversor portátil" class="produto-img">
              <figcaption class="visually-hidden">Kit energia solar portátil</figcaption>
            </figure>
            <h3>Kit 2x Placa Painel Solar Portátil Ecoflow 125W</h3>
            <p class="produto-preco">R$ R$ 2.299,00</p>
            <a class="btn-comprar" href="/produto/inversor-portatil" role="button">Comprar</a>
          </article>
        </section>
      </section>
    </section>
  
    <%- include("../partials/footer") %>

  
  





   

