<!DOCTYPE html>
<html lang="pt-br">

<head>
 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculadora</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/calculadora.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="apple-touch-icon" href="/imagens/favicon2.png">
  <link rel="icon" href="/imagens/favicon2.png" type="image/png">
</head>
  <%- include("../partials/header") %>


<body>

  <main class="eco-main">
    <article class="eco-calculator-section">
      <h1 class="calculator-hero-title">Faça seu Diagnóstico Energético</h1>
      <p class="calculator-hero-description">Responda algumas perguntas rápidas e descubra as melhores soluções solares para sua casa.</p>
      
      <ul class="calculator-options">
        <li class="option-item" style="--checkmark-color: #4CAF50;">Análise personalizada</li>
        <li class="option-item" style="--checkmark-color: #999999;">Recomendações adaptadas</li>
        <li class="option-item" style="--checkmark-color: #FFB84D;">Mais autonomia</li>
      </ul>

      <p class="calculator-time">⏱ leva menos de 1 minuto</p>

      <form action="/diagnostico" method="get">
        <button class="calculator-btn-start" type="submit">COMEÇAR</button>
      </form>
    </article>
    
  </main>
   
</body>
<footer>
     <%- include("../partials/footer") %>
     </footer>
</html>