<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>ecogeneration</title>
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/luminaria.css" />
  <link rel="apple-touch-icon" href="/imagens/favicon2.png">
  <link rel="icon" href="/imagens/favicon2.png" type="image/png">
<body>


  <!-- Cabeçalho -->
  <%- include("../partials/header") %>  

  <!-- Produto -->
  <table class="anuncio">
    <tr>
      <td width="40%">
        <img src="imagens/luminaria.png" alt="Lâmpada LED" class="produto" />
      </td>
      <td width="60%" class="info">
        <h2>Luminaria solar</h2>
        <p>Iluminação eficiente com baixo consumo de energia.</p>
        <p><strong>Preço:</strong> <span class="preco">R$ 590,99</span></p>
        <p>Frete grátis | Vida útil longa</p>
         <ul>
          <li>Potência: 15W</li>
          <li>Temperatura de cor: 3000K</li>
          <li>Compatível com soquete E27</li>
        </ul>
         <section class="contador-quantidade" aria-label="Selecionar quantidade">
          <button type="button" id="btn-minus" aria-label="Diminuir quantidade">−</button>
          <input type="number" id="quantidade" name="quantidade" value="1" min="1" max="99" />
          <button type="button" id="btn-plus" aria-label="Aumentar quantidade">+</button>
        </section>
        <button class="comprar">Comprar agora</button>
      </td>
    </tr>
  </table>

  <!-- Itens Relacionados -->
  <table width="90%" align="center" class="titulo-relacionados"><tr><td>Itens relacionados</td></tr></table>

  <table class="produtos-relacionados">
    <tr>
      <td class="produto-card">
        <img src="imagens/lampada.png" alt="Lampada LED" />
        <b>Lampada LED</b>
        <span>R$ 199,99</span><br>
        <a href="luminaria-solar-led.html"><button>Ver Produto</button></a>
      </td>
      <td class="produto-card">
        <img src="imagens/kit.png" alt="Painel Solar 150W" />
        <b>kit solar</b>
        <span>R$ 399,90</span><br>
        <a href="painel-solar-150w.html"><button>Ver Produto</button></a>
      </td>
      <td class="produto-card">
        <img src="imagens/powerbankportatil.png" alt="powerbank" />
        <b>power bank</b>
        <span>R$ 89,90</span><br>
        <a href="garrafa-termica-1l.html"><button>Ver Produto</button></a>
      </td>
    </tr>
  </table>

  <!-- Rodapé -->
  <footer>© 2025 EcoGeneration</footer>

  <script src="/js/luminaria.js" defer></script>
</body>
</html>
