<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sobre-nos.css">
</head>
<%- include("../partials/header") %>
<body>
  
    <main>
    <section id="sobre">
        
    <article class="introducao">
        
    <h1>Sobre a Ecogeneration</h1>

    <p class="TEXTO1">Democratizando o acesso à energia solar limpa para todos, independentemente de onde você mora.</p>
 
    </article>
<section class="valores">
   <article class="card">
        <figure class="card-icon">
          <img src="imagens/solzinho.JPG" alt="Ícone de energia limpa" class="card-icon">
        </figure>
        <h3>Missão</h3>
        <p>Tornar a energia solar acessível para moradores de áreas que enfrentam instabilidade no fornecimento de energia.</p>
      </article>

  <article class="card">
        <figure class="card-icon">
          <img src="imagens/visao.JPG" alt="Ícone de economia" class="card-icon">
        </figure>
        <h3>Visão</h3>
        <p>Contribuir para um futuro onde a energia limpa seja acessível, não apenas em grandes infraestruturas, mas em soluções simples .</p>
      </article>

      <article class="card">
        <figure class="card-icon">
          <img src="imagens/valorr.JPG" alt="Ícone de fácil instalação" class="card-icon">
        </figure>
        <h3>Valores</h3>
        <p>Sustentabilidade, acessibilidade e compromisso com o planeta.</p>
      </article>

</section>
  <article class="quem-somos">
    <h2>Quem somos</h2>
    <p>...</p>
  </article>

  <article class="nosso proposito">
    <h3>Nosso propósito</h3>
    <p>...</p>
  </article>

  <article class="oque fazemos">
    <h4>O que fazemos</h4>
    <p>...</p>
  </article>

</section>
</main>
<!- include("../partials/footer") %>
</body>
</html>